$c-white: #ffffff;

$c-primary: #2c99ed;
$c-primary-light: #58abe9;

$screen-large: 62.50em;       // 1000px
$screen-medium: 56.25em;      // 900px
$screen-small: 37.5em;        // 600px
$screen-smallest: 31.25em;    // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10 / 16 = 0.625, for REMS

  @media only screen and (max-width: $screen-medium) {
    font-size: 50%;
  }

  // @media only screen and (max-width: $screen-small) {
  //   font-size: 40%;
  // }
}

body {
  height: 100vh;
  font-family: 'Roboto';
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../assets/crafting.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}